.login {
  max-width: 900px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: 80px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  .insta {
    margin-left: 20px;
  }

  h1 {
    font-size: 48px;
    font-family: "Dancing Script", cursive;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .blocks {
    width: 460px;
    display: flex;
    flex-direction: column;

    .fields {
      background-color: #ffffff;
      width: 460px;
      height: 350px;
      padding: 0;
      flex-direction: column;
      display: flex;
      align-items: center;
      margin-right: 20px;
      border: 1px solid #d6d6d6;
      border-radius: 20px;
      margin-bottom: 20px;

      .pass {
        display: flex;
        position: relative;

        img {
          position: absolute;
          top: 5px;
          left: 264px;
          cursor: pointer;
        }
      }
    }

    .register {
      background-color: #ffffff;
      width: 460px;
      height: 50px;
      display: flex;
      border: 1px solid #d6d6d6;
      border-radius: 20px;

      p:first-child {
        margin-left: 50px;
        font-size: 16px;
        padding: 0;
        align-self: center;
      }

      p:last-child {
        margin-left: 10px;
        font-size: 16px;
        padding: 0;
        align-self: center;
        color: #4682b4;
        cursor: pointer;
        margin-top: 13px;
      }
    }

    .app {
      align-self: center;
      margin-top: 20px;
    }

    .badges {
      width: 460px;
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .badge {
        width: 120px;
        height: 40px;
        cursor: pointer;
      }

      .badge:first-child {
        width: 140px;
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: 800px) {
  .login {
    .insta {
      display: none;
    }

    .blocks {
      margin: 0 auto;
    }
  }
}
