.button {
    width: 300px;
    height: 40px;
    background-color: #199ec1;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    margin-top: 30px;
}

.button:hover {
    background-color: #3f729b;
}