* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .leftSide {
        max-width: 100%;
    }

    .leftSide:first-child {
        margin-top: 75px;
    }

    .rightSide {
        
    }
}