* {
  padding: 0;
  margin: 0;
}

.wrapper {
    background-color: #FFFFFF;
    height: 60px;
    margin-bottom: 30px;
    border: 1px solid #D6D6D6;

  .header {
    width: 60%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 40px;
      font-family: "Dancing Script", cursive;
    }

    Input {
      width: 250px;
      height: 35px;
      margin-bottom: 0;
    }

    .btns {
      width: 150px;
      display: flex;
      justify-content: space-between;

      img {
        cursor: pointer;
      }
    }
  }
}
