* {
  margin: 0;
  padding: 0;
}

.post {
  background-color: #ffffff;
  max-width: 470px;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  margin-bottom: 15px;
  position:inherit;

  .head {
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 14px;

    img {
      cursor: pointer;
    }

    h3 {
      font-size: 14px;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  .mainPhoto {
    width: 470px;
    object-fit: cover;
  }

  .btns {
    img {
      margin: 7px 0 0 10px;
      cursor: pointer;
    }
  }

  .description {
    display: flex;

    p {
      font-size: 14px;
      margin-left: 10px;

      b {
        cursor: pointer;
      }
    }
  }

  .comment {
    display: flex;
    border-top: 1px solid #d6d6d6;
    padding: 5px 5px 0 5px;
    margin-top: 10px;
    height: 35px;
    align-items: center;

    textarea {
      width: 360px;
      height: 20px;
      outline: none;
      border: none;
      resize: none;
    }

    ::-webkit-input-placeholder {
      text-align: left;
    }
    :-moz-placeholder {
      text-align: left;
    }
    ::-moz-placeholder {
      text-align: left;
    }
    :-ms-input-placeholder {
      text-align: left;
    }

    p {
      color: #0095f6;
      cursor: pointer;
      font-size: 14px;
    }
  }
}
